#pizza_Card {
  width: 1200px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin: 100px;

  #pizza {
    display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(238, 233, 233);
  max-width: 350px;
  height: 500px;
  padding: 30px;
  gap: 30px;
  border-radius: 10px;
  font-family: italic;
  border: 1px solid gray;
  padding: 30px;
    img {
      width: 260px;
    }
    .ingridients {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    }
    .prise_weight {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 400px;
      gap: 20px;
    }
  }
}
